body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; padding-top: 70px;}
a, h1, h2       { color: #377ba8; }
h1, h2          { margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.navbar-expand-lg {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
}
