{% extends "bootstrap/base.html" %}
{% block content %}
{% block styles %}
  {{super()}}
<head>
    <title>DC Bus Times</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
{% endblock %}

<nav class="navbar-expand-lg navbar-light" style="background-color: lightslategray;">
  <div class="navbar-nav">
    <a class="navbar-brand" style=color:white>DC Bus Times</a>
    <a class="nav-item nav-link active" href="/">To Work<span class="sr-only">(current)</span></a>
    <a class="nav-item nav-link" href="/route2">To Home</a>
  </div>
</nav>

<!-- main body -->
<p></p>
<h1>For {{location1}}:</h1>
<div class="jumbotron">
    <h1>Bus {{bus1}} is arriving in {{time1}} minutes</h1>
    <h2>Bus {{bus2}} is arriving in {{time2}} minutes</h2>
    <h2>Bus {{bus3}} is arriving in {{time3}} minutes</h2>
</div>


<br>
<p class=footer style=color:#377ba8>©Brandebot 2019</p>
{% endblock %}